<section class="h-100" style="background-color: #eee;">
    <div class="container-fluid h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                </div>
                {{#if hasItems}}
                    {{#each products}}
                        <div class="card rounded-3 mb-1">
                            <div class="card-body p-4">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="p-0 m-0 col-" style="height: 100px; width: 100px">
                                        <a href="#!">
                                            <img src="{{this.thumbnail}}" class="w-100 h-100" style="object-position: center center; object-fit: cover"/>
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <p class="lead fw-normal mb-2">{{this.title}}</p>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <a href="" onclick="removeQty(0)">
                                            <i class="fas fa-minus me-2"></i>
                                        </a>
                                        <span class="border px-2 qty" cartId="{{this.cartId}}" value="{{this.id}}">{{this.qty}}</span>
                                        <a href="" onclick="addQty({{this.stock}})">
                                            <i class="fas fa-plus ms-2"></i>
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                        <h5 class="mb-0 text-end">${{this.price}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    <div class="card rounded-3 mb-1">
                        <div class="card-body p-4">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="lead fw-bolder mb-2 text-end">GRAND TOTAL: <span class="text-danger" id="total">${{this.total}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body p-4">
                            <button type="button" class="btn btn-outline-success w-100 mb-2" onclick="placeOrder()">PLACE ORDER</button>
                            <a type="button" class="btn btn-outline-warning w-100" href="/">GO BACK TO STORE</a>
                        </div>
                    </div>
                {{else}}
                    <div class="card rounded-3 mb-1">
                        <div class="card-body p-4">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="lead fw-bolder mb-2 text-center">CART IS EMPTY</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body p-4 d-flex flex-row">
                            <a type="button" class="btn btn-outline-warning w-100" href="/">GO BACK TO STORE</a>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</section>
<script src="../js/cart.js"></script>