<div class="text-center container">
    <div>
        <h4 class="mt-4 mb-0"><strong>{{product.title}}</strong></h4>
    </div>
    <div class="row p-4">
        {{#if error}}
            <div>
                {{error.message}}
            </div>
        {{else}}
            <div class="col-6">
                <div class="ratio ratio-16x9">
                    <img src="{{product.thumbnail}}" class="w-100 h-100" style="object-position: center center; object-fit: cover"/>
                </div>
            </div>
            <div class="col-6">
                <div class="card-body d-flex align-content-between flex-wrap">
                    <div class="w-100">
                        <p>{{product.description}}</p>
                    </div>
                    <div class="w-100">
                    </div>
                    <div class="w-100">
                        <h6 class="mb-3">${{product.price}}</h6>
                        <p><span class="fw-bolder">Stock: </span>{{product.stock}}</p>
                        <div class="mb-2">
                            <a href="" onclick="removeQty(1)">
                                <i class="fas fa-minus me-2"></i>
                            </a>
                            <span class="border px-2">1</span>
                            <a href="" onclick="addQty({{product.stock}})">
                                <i class="fas fa-plus ms-2"></i>
                            </a>
                        </div>
                        <button type="button" class="btn btn-outline-success" onClick="addProduct('{{product.cartId}}', '{{product.id}}')">Add to Cart</button>
                    </div>
                </div>
            </div>
        {{/if}}            
    </div>
</div>
<script src="../js/products.js"></script>